@import '../../../global.scss';
@import "primeicons/primeicons.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.signinContainer {
    width: 100vw;
    height: 100vh;
    background: url('../../../assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer {
    height: 30rem;
    width: 350px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    background: #fff;
    border-radius: 0.5rem;

}

.headerContainer {
    background: linear-gradient(90deg, #007bff, #0052ea);
    box-shadow: 0 4px 20px 0 rgb(0 123 255 / 14%), 0 7px 10px -5px rgb(0 82 234 / 40%);
    margin: -2rem 1rem 2rem;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    color: #fff;
    height: 9rem;
    width: 20rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.headerContainer h2 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: $fontFamily;
    font-weight: 600;
    line-height: 1.6;
}

.headerSocialMediaPart {
    width: 100%;
    height: 100%;
}

.headerSocialMediaPart ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerSocialMediaPart ul li {
    flex-basis: 20%;
    flex-shrink: 0;
    margin: 2px;
}

.headerSocialMediaPart ul li i {
    font-size: 1rem;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 0.3125rem;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: 0.4s;
    background-color: transparent;
    cursor: pointer;
}

.headerSocialMediaPart ul li:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 11px rgb(0 123 255 / 35%);
}


.headerSocialMediaPart ul li i:hover {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.formContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

}



.userNamePart,
.passwordPart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonsPart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1rem;
}

.loginButtonPart {
    width: 7.5rem;
    height: 3rem;
}

.forgotPasswordStyle a {
    font-weight: 600 !important;
    font-family: $fontFamily;
    font-size: 0.875rem;
    text-decoration: none;
    background-color: transparent;
    color: #0d6efd;
    cursor: pointer;

}

.forgotPasswordStyle a:hover {
    color: #0069d9;
    text-decoration: none;
}


.signupTextStyle h2 {
    text-align: center;
    font-family: $fontFamily;
    margin-top: 2rem;
    font-size: 0.875rem;
    color: #97a4af;
    font-weight: 400;
}

.signupTextStyle h2 a {
    text-decoration: none;
    cursor: pointer;
    color: #0d6efd;

}

::ng-deep {

    .userNamePart,
    .passwordPart {



        .p-input-icon-left>i:first-of-type {
            left: 2.1rem;
            color: #007bff;
        }

        .p-input-icon-left,
        .p-input-icon-right {
            width: 85%;
            height: 100%;
            font-size: 1.5rem;

        }

        .p-input-icon-left>.p-inputtext {
            padding-left: 3rem;
            margin-left: 1.8rem;
        }

        .p-input-icon-left>i,
        .p-input-icon-right>i {
            top: 31%;
        }

        .p-inputtext {
            font-size: 1.1rem;
            border: none;
            border-bottom: 0.0625rem solid #eeeeff;
            border-radius: 0;
        }

        .p-inputtext:enabled:focus {
            outline: 0 none;
            outline-offset: 0;
            box-shadow: none;
            border-color: none;
        }
    }

    .loginButtonPart {
        .p-button.p-button-raised {
            box-shadow: 0 4px 20px 0 rgb(0 123 255 / 14%), 0 7px 10px -5px rgb(0 82 234 / 40%);
            font-family: $fontFamily;
            font-weight: 600;
            text-align: center;
            vertical-align: middle;
            user-select: none;
            padding: 0.5rem 2rem;
            font-size: 1rem;
            line-height: 1.6;
            border-radius: 0.3125rem;


        }
    }

}